.container{
    background: #2F87ED;
}
.bg{
    background:#1583a7;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    align-items: center;
    align-content: center;
    border: 6px solid black;
    border-radius: 6%;
    h1{color: #FFC107;align-items: center;text-align: center;padding-top: 2%;}
    p{color: white;text-align: center; padding-top: 2%;font-weight: bolder;font-size: larger;}
    height: 40vh;
}