.bg{
    background:#1583a7;
    
    h1{color: #FFC107;align-items: center;text-align: center;padding-top: 2%;}
    p{color: white;text-align: center; padding-top: 2%;font-weight: bolder;font-size: larger;}
    height: 40vh;
}