.cardContainer {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(33,9,121,0.8045343137254902) 35%, rgba(0,168,255,1) 100%);

  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.card {
  // background: #fff;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  width: 250px;
  overflow: hidden;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.cardImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.cardContent {
  padding: 20px;
  background-color: white;
}

.cardTitle {
  font-size: 1.5em;
  margin: 0 0 10px;
  color: #333;
  background-color: white;
}

.cardDate {
  font-size: 0.9em;
  color: #777;
  margin: 0;
}
